/build/
/build*/
CMakeLists.txt.user
*.orig
.*
*~
*.tar
*.tar.gz
*.log
pregen/

# Cached python scripts in bytecode form
*.pyc
applyfixes.sh

# Files related to building examples
specification/**/*.c
specification/**/*.cpp
specification/**/*.o
specification/examples.mk

# Files related to pytest
specification/scripts/.cache

# VS 2019 CMake artifacts
out/build/

# VS misc
*.sln
*.pyproj

# Don't ignore pipeline stuff
!.azure-pipelines/
