scripts/__pycache__
scripts/xrapi.py
out/*
generated/*
sources/chapters/extensions/meta/*
example-builds/generated/
man/*
artifacts/
temp/
diffs/

# Artifacts from converting/checking RELAX-NG Compact schema.
registry/registry.rng
registry/regenerated.rnc