<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.khronos.openxr.openxr_loader_for_android">
  <!--
  Copyright (c) 2020-2021 The Khronos Group Inc.
  SPDX-License-Identifier: Apache-2.0
  -->

  <uses-permission android:name="org.khronos.openxr.permission.OPENXR" />
  <uses-permission android:name="org.khronos.openxr.permission.OPENXR_SYSTEM" />

  <queries>
    <provider android:authorities="org.khronos.openxr.runtime_broker;org.khronos.openxr.system_runtime_broker" />
  </queries>

</manifest>
